{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 45rem;margin: auto; height: fit-content;padding: 10px; margin-top: 10px;">
            <img src="{% static 'img/log.jpg' %}" class="card-img-top" alt="..." style="object-fit: cover;height: 440px;">
            <div class="card-body">
                <button type="button" class="btn btn-primary"><i class="bi bi-heart-fill"></i></button>
                <button type="button" class="btn btn-warning"><i class="bi bi-chat-fill"></i></button>
                <button type="button" class="btn btn-dark"><i class="bi bi-share"></i></button>       
            </div>
        </div>
    </div>

    {% for image in images %}
    <div class="row">
        <div class="card display" style="width: 45rem;margin: auto; height: fit-content;padding: 10px; margin-top: 10px;">
            <div class="user" style="position: absolute;left: 30px;top: 20px; color: rgb(255, 255, 255);">
                <img src="{{profile.profile_photo.url}}" alt="" class="card-img-top profp" style="width: 70px;height: 70px;margin-top: 0px;">
                <h3>{{ image.user.username }} </h3>
            </div>


            <img src="{{ image.image.url }}" class="card-img-top" alt="..." style="object-fit: cover;height: 440px;">
            <div class="card-body" style="display:flex;flex-direction:column;">
                <div class="buttonss" style="display: flex;justify-content: space-evenly;">
                    <a type="button" href="{% url 'like.image' image.id %}" class="btn btn-primary"><i class="bi bi-heart-fill"></i>  {{image.like_count }} Likes</a>
                    <a type="button" class="btn btn-warning"><i class="bi bi-chat-fill"></i></a>
                    <a type="button" class="btn btn-dark"><i class="bi bi-share"></i></a>  
    
                </div>
                <br>
                <div style="padding-left: 150px;">
                    <h6 class="">{{ image.image_caption|slice:":20" }}<small><span class="text-muted">...learnMore</span></small> </h6>
                </div>     
            </div>
            
        </div>
    </div>
    {% endfor %}
    
</div>
  
{% endblock %}