{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row formm">
            <!-- <div class="image">
                <img src="{% static 'img/log.jpg' %}" style="width: 400px;" alt="">
            </div> -->

            <div class="login-block2 login">
                <h1>Welcome back</h1>

                <form action="#">

                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                    <input type="text" class="form-control" placeholder="Your email address">
                    </div>
                </div>
                
                <hr class="hr-xs">

                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                    <input type="password" class="form-control" placeholder="Enter password">
                    </div>
                </div>

                <hr class="hr-xs">


                <button class="btn btn-warning btn-block" type="submit" style="width: 100%;">Login</button>

                </form>
                <div class="login-links">
                    <p class="text-center">Don't have an account? <a class="txt-brand" href="">signin</a></p>
                  </div>
                                
            </div>
        </div>
</div>
{% endblock %}