{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="login-block">
    <h1>Create an account</h1>
    {% if form.errors %}
    <p> Some Information Might be Incorrect </p>

    {% endif %}
    <form  action="/signup/register/" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
          <input type="submit" class="btn btn-warning btn-sm" value="Sign Up">
        </div>

        <input type="hidden" name="next" value="{{next}}">

      </form>
  </div>

  <div class="login-links">
    <p class="text-center">Already have an account? <a class="txt-brand" href="">Login</a></p>
  </div>

{% endblock %}